.ListeDossiers{
  margin: 20px 65px 15px 65px;
  h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;

  }
  li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
}